.buttoN {
	background: linear-gradient(180deg, rgb(2, 43, 106), rgb(2, 43, 106));
	border-color: rgb(2, 43, 106);
	color: white;
	width: 80%;
	height: 30px;
	border-radius: 8px;
	padding:4px;
	text-decoration: none;
	margin-right: 5px;
	width: 40%;
	margin-bottom: 5px;
}

.buttoNN {
	background: linear-gradient(180deg, rgb(2, 43, 106), rgb(2, 43, 106));
	border-color: rgb(2, 43, 106);
	color: white;
	width: 80%;
	height: 30px;
	border-radius: 8px;
	text-decoration: none;
	margin-left:auto;
	margin-right:auto;
	width: 80%;
	margin-bottom: 5px;
	padding:4px;
	margin-top: 5px;
}

.buttonS {
	border-radius: 8px;
	width: 100%;
	margin-bottom: 10px;
	background: rgb(255, 255, 255);
    /*box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
    box-shadow: 0 14px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	color: rgb(2, 43, 106);
	padding: 20px;
}

.buttonSS {
	border-radius: 8px;
	width:110%;
	height:10%;
	background: rgb(255, 255, 255);
    /*box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
    box-shadow: 0 14px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	margin-bottom:10px;
	color: rgb(2, 43, 106);
	padding: 6px;
	padding-bottom: 10px;
}

.TodayInMenu {
	width:100 %;
	margin-left:50%;
}

h4 {
	position:relative;
	bottom: 35px;
	margin-left:50%;
	font-size:140%
}

.otlineDiv{
	width: 70%;
	min-height: 800px;
	display: inline-block;
}

.size40{
	width: 100%;
}

.ordered {
	font-weight:normal;
	font-size:90%;
}

table {
	border: none;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

td {
	vertical-align: top;
	text-align: center;
}

.Label {
	margin-bottom: 7px;
}